<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
       "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="triangle" class="org.Spring.Triangle" autowire="byName" scope="prototype">
	
	</bean>
	<bean id="circle" class="org.Spring.Circle" autowire="byName" scope="prototype">
	
	</bean>
	<bean id="pointA" class="org.Spring.Point">
		<property name="x" value="0"></property>
		<property name="y" value="10"></property>
	</bean>
	<bean id="pointB" class="org.Spring.Point">
		<property name="x" value="10"></property>
		<property name="y" value="20"></property>
	</bean>
	<bean id="pointC" class="org.Spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
</beans>
